In [2]:
import pandas as pd

In [3]:
dtypes = {"ride_id": str,
          "rideable_type": str,
          "started_at": pd.Timestamp,
          "ended_at": pd.Timestamp,
          "start_station_name": "str",
          "start_station_id": "str",
          "end_station_name": "str",
          "end_station_id": "str",
          "start_lat": float,
          "start_lng": float,
          "end_lat": float,
          "end_lng": float,
          "member_casual": "str"}
data_202310 = pd.read_csv("Resources/JC-202310-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
data_202311 = pd.read_csv("Resources/JC-202311-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
data_202312 = pd.read_csv("Resources/JC-202312-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
print(data_202310.shape)
print(data_202311.shape)
print(data_202312.shape)

(97584, 13)
(75646, 13)
(58680, 13)

In [4]:
data_202310.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97584 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97584 non-null  object
 1   rideable_type       97584 non-null  object
 2   started_at          97584 non-null  datetime64[ns]
 3   ended_at            97584 non-null  datetime64[ns]
 4   start_station_name  97579 non-null  object
 5   start_station_id    97579 non-null  object
 6   end_station_name    97207 non-null  object
 7   end_station_id      97207 non-null  object
 8   start_lat           97584 non-null  float64
 9   start_lng           97584 non-null  float64
 10  end_lat             97497 non-null  float64
 11  end_lng             97497 non-null  float64
 12  member_casual       97584 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 9.7+ MB

In [5]:
print(data_202310["rideable_type"].value_counts())
print(data_202310["member_casual"].value_counts())

rideable_type
classic_bike     89461
electric_bike     8123
Name: count, dtype: int64
member_casual
member    73863
casual    23721
Name: count, dtype: int64

In [6]:
map_rideable_type = {"classic_bike": "C_B",
                     "electric_bike": "E_B",
                     "docked_bike": "D_B"}
map_member_casual = {"member": True,
                     "casual": False}

df_winter = pd.concat([data_202310, data_202311, data_202312])
df_winter.dropna(axis=0, inplace=True)  # drop any row with missing data
# map strings to shorter values
df_winter["rideable_type"] = df_winter["rideable_type"].map(map_rideable_type)
df_winter["member_casual"] = df_winter["member_casual"].map(map_member_casual)
print(df_winter.shape)
df_winter.info()

(231042, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 231042 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             231042 non-null  object
 1   rideable_type       231042 non-null  object
 2   started_at          231042 non-null  datetime64[ns]
 3   ended_at            231042 non-null  datetime64[ns]
 4   start_station_name  231042 non-null  object
 5   start_station_id    231042 non-null  object
 6   end_station_name    231042 non-null  object
 7   end_station_id      231042 non-null  object
 8   start_lat           231042 non-null  float64
 9   start_lng           231042 non-null  float64
 10  end_lat             231042 non-null  float64
 11  end_lng             231042 non-null  float64
 12  member_casual       231042 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(4), object(6)
memory usage: 23.1+ MB

In [7]:
df_winter.to_csv("Resources/citibike_2023_10_11_12.csv", index=False, header=True)